@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1120px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #aaa38e;
    padding: 0px 15px;
    z-index: 10;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
.home{
    min-height: 100vh;
    background-image: url("images/abstract-art-black-background-blur-1040499.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;

}
.home .full-screen{
    min-height: 100vh;

}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .joinus-btn {
    padding-top: 20px;
}
.home .home-content .block .joinus-btn a{
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.home .home-content .block .joinus-btn a:hover{
    background-color: white;
    color: black;
}