@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
    --success-color: #2ecc71;
    --error-color:#e74c3c;
}


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1120px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-lwft{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}


header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #aaa38e;
    padding: 0px 15px;
    z-index: 10;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
.home{
    min-height: 100vh;
    background-image: url("images/abstract-art-black-background-blur-1040499.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;

}
.home .full-screen{
    min-height: 100vh;

}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .joinus-btn {
    padding-top: 20px;
}
.home .home-content .block .joinus-btn a{
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
    text-decoration: none;
}
.home .home-content .block .joinus-btn a:hover{
    background-color: white;
    color: black;
}


/*Portfolios*/
.portfolios{
    background-color: #f5f8fd;
    padding: 100px 0px 70px;

}
.portfolios .section-title h1::before{
    left: 32%;
}
.portfolios .portfolio-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolios .portfolio-content .box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.portfolios .portfolio-content .box::before{
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.portfolios .portfolio-content .box:hover::before{
    width: 100%;
}
.portfolios .portfolio-content .box .icon{
    
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 0 auto 20px;
    border-radius: 50%;
    text-align: center;

}
.portfolios .portfolio-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.portfolios .portfolio-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}


/* contact page */

*{
    box-sizing: border-box;
}

/* .section-form {
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}  */
.contact-container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width:100%;
    /* margin-left: 300px; */
}

.form h2{
    text-align: center;
    margin: 0 0 2px;
    padding-bottom: 10px;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 50%;
    margin-left: 300px;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 300px;
    width: 50%;
}