@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 1120px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-lwft{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}


header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #aaa38e;
    padding: 0px 15px;
    z-index: 10;
}
header.fixed{
    background-color: white;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader 1s ease;
}

@keyframes fixHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translate(0);
    }
}

header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
}
header.fixed .brand-name a{
    color: black;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    font-weight: 600;
    position: relative;
}
header.fixed .navbar ul li a{
    color: black;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
    background-color: #febd01;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
.home{
    min-height: 100vh;
    background-image: url("images/abstract-art-black-background-blur-1040499.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;

}
.home .full-screen{
    min-height: 100vh;

}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .joinus-btn {
    padding-top: 20px;
}
.home .home-content .block .joinus-btn a{
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
    text-decoration: none;
}
.home .home-content .block .joinus-btn a:hover{
    background-color: white;
    color: black;
}


/*Portfolios*/


.portfolios{
    background-color: #f5f8fd;
    padding: 100px 0px 70px;

}
.portfolios .section-title h1::before{
    left: 32%;
}
.portfolios .portfolio-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolios .portfolio-content .box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.portfolios .portfolio-content .box::before{
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.portfolios .portfolio-content .box:hover::before{
    width: 100%;
}
.portfolios .portfolio-content .box .icon{
    
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 0 auto 20px;
    border-radius: 50%;
    text-align: center;

}
.portfolios .portfolio-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.portfolios .portfolio-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}
.portfolios .portfolio-content .box .overlay{
    margin-bottom: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolios .portfolio-content .box:hover .overlay{
    opacity: 1;
}
.portfolios .portfolio-content .box .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.portfolios .portfolio-content .box:hover .overlay .fa{
    animation: portfolioicon .8s ease;    
}
@keyframes portfolioicon{
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}
.portfolios .portfolio-content .box .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.portfolios .portfolio-content .box:hover .overlay h4{
    animation: portfoliotext .8s ease;
}
@keyframes portfoliotext{
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}

/*Quote*/
.quote-text{
    background-color: #0c0c17;
    padding: 40px 15px;
}
.quote-text .text{
    color: white;
    max-width: 100%;
    margin-left: 325px;
}
.quote-text .text h2{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

/*Contact-Us*/
.contact-us{
    padding: 100px 15px;
    background-color: #f5f8fd;
}
.contact-us .section-title h1:before{
    left: 30%;
}
.contact-us .contact-form{
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeeeee;
    border-radius: 4px;

}
.contact-us .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact-us .contact-form .text h2{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0;
}
.contact-us .contact-form .space-between{
    justify-content: space-between;
}
.contact-us .contact-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
    height: 140px;
}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}
.contact-us .contact-form .button{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
.contact-us .contact-form .button a:hover{
    background-color: black;
    color: white;
}

/*Footer*/
footer{
    padding: 80px 15px;
    background-color: #0c0c17;
}
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 900;
}   
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;  
    padding-top: 10px;  
}
footer .social a{
    color: #999999;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}
footer .social a:hover{
    color: white;
}


/*Copyright*/
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
