@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
html{
    scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}

body{
	background:#f3f3f3;

}


.wrapper{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:470px;
	display: flex;
	box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08)
}

.wrapper .left{
	width: 39%;
	background-color: white; 
	padding: 30px 25px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align:center;
	color: #ffffff;
}

.wrapper .left img{
	margin-bottom: 10px;
	border-radius: 5px;

}

.wrapper .left h4{
	color: #febd01;
	margin-bottom: 10px;
	transition: all .5s ease;
	font-weight: 600;
}

.wrapper .left h4:hover{
	color: black;
}

.wrapper .left ul{
	color: black;
	font-size: 15px;
	font-weight: 400;
}



.wrapper .right{
	color: black;
	width:62%;
	background-color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 30px 10px;
	padding-bottom: 1%;
}

.wrapper .right .info,
.wrapper .right .projects{
	margin-bottom: 25px;

}

.wrapper .right .info h3,
.wrapper .right .projects h3{
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e0e0e0;
	color: #febd01;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 600;

}

.wrapper .right .info_data,
.wrapper .right .projects_data{
	display: flex;
	justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
	width:45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
	color: #febd01;
	margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data a{
	font-size: 12px;
	margin-bottom: 10px;
	color: black;
	font-weight: 400;
	text-decoration: none;
}

.wrapper .right .projects_data .data a{
	transition: all .5s ease; 
}

.wrapper .right .projects_data .data a:hover{
	color: #febd01;
}
.wrapper .social_media ul{
	display: flex;
}
.wrapper .social_media ul li{
	width: 45px;
	height: 90px;
	background-color: white;
	margin-right: 10px;
	border-radius: 5px;
	line-height: 45px;
	text-align: center;
}


.wrapper .social_media ul li a{
	padding-top: 25%;
	color: black;
	display: block;
	font-size: 18px;
	transition: all .5s ease;
    text-decoration: none;
}

.wrapper .social_media ul li a:hover{
	color: #febd01;
}

.wrapper .social_media ul li button a{
	border-radius: 4px;
    border: 1px solid white;	
	color: black;    
	padding: 1px 30px;
	font-size: 15px;
    transition: all .5s ease;
    background-color: white;
	text-decoration: none;	
	text-align: center;
}
.wrapper .social_media ul li button {
	margin-left: 30px;
}
.wrapper .social_media ul li button a:hover{
	color: #febd01;
}