@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

.spin:hover {
  animation-name: borderslide;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transition: all 0.5s ease;
}

@keyframes borderslide{
  
}
  