@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
    --success-color: #2ecc71;
    --error-color:#e74c3c;
}
*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}

@media all and (max-width: 700px) 
{
    .quote-text .text{
    color: white;
    max-width: 100%;
    margin-left: 325px;
    visibility: hidden;
    }
	#logoBanner{
		height:100px;
	}
} 

@media all and (max-width: 500px) 
{
    .quote-text .text{
    color: white;
    max-width: 100%;
    margin-left: 325px;
    visibility: hidden;
    }
	#logoBanner{
		height:100px;
	}
} 

.WebContainer{
    width: 100%; 
    min-width: 1000px;
    height: auto;
}

.container{
    max-width: 1000px;
    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;

}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
}
.section-title h1:before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}
.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}


header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #aaa38e;
    padding: 0px 15px;
    z-index: 10;
}

header.fixed{
    background-color: white;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader 1s ease;
}

@keyframes fixHeader{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translate(0);
    }
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name {
    	width: 149px;
        height: 34px;
        background: url('images/2.PNG') no-repeat;
        display: inline-block;
}
header.fixed .brand-name {
    	width: 149px;
        height: 34px;
        background: url('images/1.PNG') no-repeat;
        display: inline-block;
	
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: white;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a{
	color: white;
}
header.fixed .navbar ul li a{
    color: black;
}
header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: white;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
    background-color: #febd01;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
    bottom: -9px;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
    bottom: -9px;
}
.home{
    min-height: 100vh;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;

}
.home .full-screen{
    min-height: 100vh;

}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}
.home .home-content .block h6{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .joinus-btn {
    padding-top: 20px;
}
.home .home-content .block .joinus-btn a{
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
    text-decoration: none;
}
.home .home-content .block .joinus-btn a:hover{
    background-color: white;
    color: black;
}

/*About-Us*/

.about-us{
 background-image: linear-gradient(#242424,black);  
 padding:100px 15px;
 transition: all .5s ease;
}

.about-us .section-title{
   flex:0 0 100%;
   max-width: 100%; 
   margin-bottom:40px;
}

.about-us .section-title h1{
   display: inline-block;
   font-size:40px;
   text-transform: uppercase;
   font-weight:700px;
   color:white;
   margin:0 0 10px;
   position:relative;
}

.about-us .section-title h1:before{
   content:'';
   left:0;
   position: absolute;
   right:30%;
   height:2px;
   background-color:#febd01;
   bottom:0px;

}

.text-uppercase{
   text-transform: uppercase!important;
}

.about-us .section-title p.small{
   display: block;
   font-size: 20px;
   color: #838383;
   font-weight:400;
   letter-spacing:2px;
   text-transform: uppercase;
}

.about-us .about-content{
 
}

.about-us .about-content .text{
   flex:0 0 66.66%;
   max-width:66.66%;   
}

.about-us .about-content .text h4{
   display:block;
   font-size:28px;
   font-weight:600;
   margin:0 0 5px;
   color:white;
}

.about-us .about-content .text h6{
   display:block;
   font-size:24px;
   font-weight:500;
   margin:0 0 15px;
   color:white;
}

.about-us .about-content .text h6 span{
   color:#febd01;
}

.about-us .about-content .text h6 span:hover{
   transition: all .5s ease;
   color:white;
}

.about-us .about-content .text p{
   font-size:18px;
   font-weight:400;
   line-height:24px;
   color:#838383;  
}

/*Quote1*/
.quote-text1{
    max-width:100%;
    max-height:100%;
    background-color: black;;
    padding: 40px 15px;
}

.quote-text1 .text{
    color: white;
    max-width: 100%;
    margin-left: 278px;
}
.quote-text1 .text h2{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.quote-text1 .text h2 span{
    color:#febd01;
}

.quote-text1 .text h2 span:hover{
    transition: all .5s ease;
    color:white;
}
/*Portfolios*/


.portfolios{
    margin:5px 0 0;
    background-color: #f5f8fd;
    padding: 130px 0px 70px;

}
.portfolios .section-title h1::before{
    left: 32%;
}
.portfolios .portfolio-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolios .portfolio-content .box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.portfolios .portfolio-content .box::before{
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.portfolios .portfolio-content .box:hover::before{
    width: 100%;
}
.portfolios .portfolio-content .box .icon{
    background-position: center;
    background-size: cover;
    margin: 0 auto 20px;
    border-radius: 50%;
    text-align: center;

}
.portfolios .portfolio-content .box h5{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.portfolios .portfolio-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}

.portfolios .portfolio-content .box .overlay{
    margin-bottom: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolios .portfolio-content .box:hover .overlay{
    opacity: 1;
}
.portfolios .portfolio-content .box .overlay .fa{
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.portfolios .portfolio-content .box:hover .overlay .fa{
    animation: portfolioicon .8s ease;    
}
@keyframes portfolioicon{
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}
.portfolios .portfolio-content .box .overlay h4{
    margin-top: 15px;
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.portfolios .portfolio-content .box:hover .overlay h4{
    animation: portfoliotext .8s ease;
}
@keyframes portfoliotext{
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}

/*Quote*/
.quote-text{
    background-color: #0c0c17;
    padding: 40px 15px;
}
.quote-text .text{
    color: white;
    max-width: 100%;
    margin-left: 325px;
}
.quote-text .text h2{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

/*Contact-Us*/
.contact-us{
    padding-top: 130px;
    background-color: #f5f8fd;
}
.contact-us .section-title h1:before{
    left: 30%;
}
.contact-us .contact-form{
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeeeee;
    border-radius: 4px;

}
.contact-us .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact-us .contact-form .text h2{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin: 0;
    padding: 0;
}
.contact-us .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0;
}
.contact-us .contact-form .space-between{
    justify-content: space-between;
}
.contact-us .contact-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
    height: 140px;
}
.contact-us .contact-form .form-control::placeholder{
    color: #838383;
}
.contact-us .contact-form .button{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-us .contact-form .button a{
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
.contact-us .contact-form .button a:hover{
    background-color: black;
    color: white;
}

/*Join-Us*/
.join-us{
    padding: 130px 15px;
    background-color: #f5f8fd;
}
.join-us .section-title h1:before{
    left: 30%;
}
.join-us .join-form{
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeeeee;
    border-radius: 4px;

}
.join-us .join-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}

.join-us .join-form .space-between{
    justify-content: space-between;
}
.join-us .join-form .col-6{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}
.join-us .join-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.join-us .join-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.join-us .join-form textarea.form-control{
    height: 140px;
}
.join-us .join-form .form-control::placeholder{
    color: #838383;
}
.join-us .join-form .button{
    flex: 0 0 100%;
    max-width: 100%;
}
.join-us .join-form .button a{
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
.join-us .join-form .button a:hover{
    background-color: black;
    color: white;
}

/*Footer*/
footer{
    padding: 60px 15px;
    background-color: #0c0c17;
}
footer .logo{
    margin-left: 425px;
    margin-bottom: 20px;
    width: 149px;
        height: 34px;
        background: url('2.PNG') no-repeat;
        display: inline-block;
}   
footer .social{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;  
    padding-top: 10px;  
}
footer .social a{
    color: #999999;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}
footer .social a:hover{
    color: white;
}


/*Copyright*/
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}
.copyright p{
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

/*Our works*/
.works{
    padding: 130px 15px;
    background-color: white;
}
.works .section-title h1:before{
    left: 30%;
}
.works .works-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.works .works-content .box{
    flex: 0 0 calc(33.33% - 25px);
    max-width: calc(33.33% - 25px) ;
}
.works .works-content .box .image{
    overflow: hidden;
}
.works .works-content .box .image img{
    width: 100%;
    display: block;
    transition: all .5s ease;
}
.works .works-content .box:hover .image img{
    transform: scale(1.1);
}
.works .works-content .box .info{
    padding: 10px 0;
}
.works .works-content .box .info span{
    font-size: 12px;
    color: #838383;
    display: inline-block;
}
.works .works-content .box .info span:nth-child(2){
    border-left: 1px solid #dddddd;
    padding-left: 8px;
    margin-left: 4px;
}
.works .works-content .box h3{
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin: 0 0 10px;
    padding: 0;
}
.works .works-content .box p{
    font-size: 15px;
    font-weight: 400;
    color: #838383;
    line-height: 24px;
    margin: 0 0 10px;
}
.works .works-content .box a{
    font-size: 14px;
    color: #febd01;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #febd01;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}
.works .works-content .box a:hover
{
    color: black;
    border-color: black;
}


/*Responsive*/


.ham-burger .fa{
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: white;
    color: black;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
}

@media(max-width: 991px){
    .home .home-content .block h1{
    font-size: 50px;
    }
}
@media(max-width: 767px){
    .home .home-content .block h1{
        font-size: 40px;
        }
    .home .home-content .block h3{
        font-size: 25px;
    }
    header{
        padding: 15px;
        position: fixed;
        background-color: white;
        border-bottom: 1px solid #eeeeee;
    }
    header .brand-name {
        width: 149px;
        height: 34px;
        background: url('images/1.PNG') no-repeat;
        display: inline-block;
    }
    .ham-burger .fa{
        display: inline-block
    }
    .navbar{
        position: absolute;
        background-color: white;
        width: 100%;
        top: 60px;
        left: 0px;
        padding: 15px;
        border-top: 1px solid #eeeeee;
        display: none;
    }
    .navbar.show{
        display: block;
    }
    header .navbar ul li{
        display: block;
        margin-left:0;
    }
    header .navbar ul li a{
        line-height: 42px;
        color: black;
    }
    header .navbar ul li a::before{
        background-color: #febd01;
    }
    header .navbar ul li a.active::before{
        bottom: -1px;
    }
    header .navbar ul li a:hover::before{
        width: 100%;
        left: 0;
        bottom: -1px;
    }
    .portfolios .portfolio-content .box{
        background-color: white;
        padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 500px){
    .home .home-content .block h1{
        font-size: 30px;
        }
    .home .home-content .block h3{
        font-size: 20px;
    }
}


#cardOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}


button:not(:disabled){
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
button:hover:not(:disabled){  
    background-color: black;
    color: white;
}
